services:
  - type: web
    name: aloelocation-sales
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run preview
    envVars:
      - key: NODE_VERSION
        value: 18.18.0
      - key: VITE_SUPABASE_PROJECT_ID
        sync: false
      - key: VITE_SUPABASE_PUBLISHABLE_KEY
        sync: false
      - key: VITE_SUPABASE_URL
        sync: false
    staticPublishPath: ./dist
